<!doctype html>
<html lang="en" data-framework="angularjs">
  <head>
    <meta charset="utf-8">
    <title>AngularJS VS ReactJS</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.0/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"></script>
    <script src="node_modules/react/dist/JSXTransformer.js"></script>
    <script src="/js/ngReact.min.js"></script>

    <script type="text/javascript">
     // app = angular.module('app', ['react']);
     //  angular.module('app', ['react'])
     //  .controller('helloController', function($scope) {
     //    $scope.person = { fname: 'Clark', lname: 'Kent' };
     //  });

      var app = angular.module( 'app', ['react'] );

      app.controller( 'helloController', function( $scope ) {
        $scope.persons = [
        { fname: 'Clark', lname: 'Kent' },
        { fname: 'Peter', lname: 'Parker' },
        { fname: 'Bruce', lname: 'Wayne' },
        ];
      } );

      var HelloComponent = React.createClass( {
        propTypes: {
          fname: React.PropTypes.string.isRequired,
          lname: React.PropTypes.string.isRequired
        },

        render: function() {
          return React.DOM.span( null,
            this.props.fname + ' ' + this.props.lname
          );
        }
      } );

      app.value( "HelloComponent", HelloComponent );

      app.directive( 'hello', function( reactDirective ) {
        return reactDirective( Hello );
      });
    </script>

    <script type="text/jsx">
      // /** @jsx React.DOM */
      // var HelloComponent = React.createClass({
      //   propTypes: {
      //     fname : React.PropTypes.string.isRequired,
      //     lname : React.PropTypes.string.isRequired
      //   },
      //   render: function() {
      //     return <span>Hello {this.props.fname} {this.props.lname}</span>;
      //   }
      // })
      // app.value('HelloComponent', HelloComponent);
    </script>

  </head>
  <body ng-app="app">
    <div ng-controller="helloController">
      <ul ng-repeat="person in persons">
        <react-component name="HelloComponent" props="person" watch-depth="reference"/>
      </ul>
    </div>
  </body>
</html>
